@model IEnumerable<Entities.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Supplier
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.Name)            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.ProductID}) |
            @Html.ActionLink("Details", "Details", new {id = item.ProductID}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.ProductID})
        </td>
        <td>
            @Html.ActionLink("Buy it", "BuyProduct", "Payment", new { productId = item.ProductID }, new { @class = "paypalButton"})
        </td>
    </tr>
}

</table>
